/*nadpisy*/
.Nadpisy{
   text-align: center;
   overflow: hidden;
   width: 0;
   white-space: nowrap;
   animation: typing 2s forwards;

}

/*texty*/
.Text1{
   text-align: center;
   overflow: hidden;
   width: 0;
   white-space: nowrap;
   animation: typing 2s forwards;
   animation-delay: 1500ms;
}

.TextNum2{
  text-align: center;
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  animation: typing 2s forwards;
  animation-delay: 3500ms
}

.TextNum3{
  text-align: center;
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  animation: typing 2s forwards;
  animation-delay: 6500ms

}

.TextNum4{
  text-align: center;
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  animation: typing 2s forwards;
  animation-delay: 9500ms

}

.TextNum5{
  text-align: right;
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  animation: typing 2s forwards;
  animation-delay: 12500ms
}


/*container class*/
.container {
  display: inline-block;
}

/*animation*/
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
